<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="curDate" value="${date:format=yyyy}-${date:format=MM}-${date:format=dd}"/>
  <variable name="fmt" value="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"/>

  <targets>
    <target name="file"
          xsi:type="File"
          layout="${fmt}"
          fileName="Logs/${curDate}/${level}.log"
          maxArchiveFiles="7"
          concurrentWrites="true"
          createDirs="true"
          autoFlush="true" />

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>